<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="fragments/loginHeader::layout(~{::.sec},~{::title})">
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
</head>
<body>
	<div class="container ">
		<section class="sec  mt-4 l-5 w-50 " data-aos="fade-up"
			data-aos-easing="linear" data-aos-duration="1000">


			<form class="bg-white shadow p-5 " method="post"
				th:action="@{/login}" th:object="${loginData}">
				<h2 class="font-italic text-center">Login</h2>
				<div class="form-group">
					<label for="staticEmail" class=" col-form-label">Email</label> <input
						type="text" name="email" th:value="${loginData.email}"
						class="form-control" id="staticEmail">
					<div th:each="e : ${#fields.errors('email')}">
						<small class="text-danger" th:text="${e}"></small>
					</div>
				</div>


				<div class="form-group">
					<label for="inputPassword" class=" col-form-label">Password</label>
					<input type="password" name="password" class="form-control"
						id="inputPassword" th:value="${loginData.password}"
						placeholder="Password">
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox"
						id="inlineCheckbox1" name="agreed"
						th:checked="${loginData.agreed}"> <label
						class="form-check-label" for="inlineCheckbox1">Agree on
						Terms and Conditions </label>

				</div>
				<div>
					<small class="text-danger"
						th:each="e : ${#fields.errors('agreed')}" th:text="${e}"></small>
				</div>


				<div class="text-center mt-4">
					<button class="btn btn-outline-danger">Login</button>
				</div>
			</form>

		</section>
	</div>

</body>
</html>