<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="views/base::layout(~{::.sec},~{::title})">
<head>
<meta charset="ISO-8859-1">
<title>Home page</title>
</head>
<body>

	<section class="sec text-center mt-4">

		<h1 class="font-italic">Homepage</h1>
		<p class="text-justify p-5">Lorem ipsum is a dummy text used as a
			placeholder in the publishing and graphic design industries. It's
			used to demonstrate the visual form of a document or a typeface,
			without the need for the actual content. Lorem ipsum is derived from
			a passage of Latin text written by the Roman philosopher Cicero in 45
			BC, but the text has been modified and rearranged over the years to
			make it more suitable for use as placeholder text. The most common
			version of Lorem ipsum begins with the follow</p>
		
	</section>

</body>
</html>