
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="views/base::layout(~{::.sec},~{::title})">
<head>
<meta charset="ISO-8859-1">
<title>About page</title>
</head>
<body>
<section class="sec container">
	<h1 class="text-center">Welcome to Thymeleaf</h1>
	<h2 class="text-center" th:text="${#strings.toUpperCase(name)}"></h2>
	<div class="text-center" th:each="n,status:${list}">
		<span th:style="${status.odd}?'font-weight:bold':' '"
			th:text="${status.index+1}+ ' '+${n}"></span>
	</div>
	<div class="text-center" th:each="n1,status:${list2}">
		<span th:style="${status.even}?'font-weight:bold':' '"
			th:text="${status.index+1}+ ' '+${n1}"></span>
	</div>
	<h1 class="text-center" th:if="${gender}=='F'">Male</h1>
	<h1 class="text-center" th:unless="${gender}=='F'">Female</h1>
	<div class="text-center" th:switch="${#lists.size(list)}">
		<h1 th:case="'0'">0(Zero)</h1>
		<h1 th:case="'1'">1(One)</h1>
		<h1 th:case="'2'">2(Two)</h1>



	</div>



</section>

    
	

</body>
</html>

