<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(content,title)">
<head>
<meta charset="ISO-8859-1">
<title th:replace="${title}"></title>
<link rel="stylesheet" th:href="@{css/bootstrap.min.css}">

<link rel="stylesheet" th:href="@{css/style.css}">

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarTogglerDemo01"
			aria-controls="navbarTogglerDemo01" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
			<a class="navbar-brand text-danger font-weight-bold " th:href="@{/home}">BOOTCRUD</a>
			<ul class="navbar-nav mr-auto mt-2  mt-lg-0">
				<li class="nav-item active"><a class="nav-link text-white"
					th:href="@{/home}">Home <span class="sr-only">(current)</span></a></li>
				<li class="nav-item"><a class="nav-link text-white"
					th:href="@{/about}">About</a></li>
				<li class="nav-item"><a class="nav-link text-white"
					th:href="@{/contacts}">Contact</a></li>
				<li class="nav-item"><a class="nav-link text-white" href="#">Services</a>
				</li>

			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>
	<div class="container">
		<div th:replace="${content}"></div>
		
	</div>
	<div><h2 class=" text-danger font-weight-bold p-5" id="typer"></h2></div>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.8/typed.min.js"></script>
	<script th:src="@{js/jquey.min.js}"></script>
	<script th:src="@{js/popper.min.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>

	<script type="text/javascript">
		new Typed('#typer', {
			strings : [ 'Spring Crud' ],
			typeSpeed : 40,
			delaySpeed : 90,
			loop : true
		});
	</script>

</body>
</html>