<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(content,title)">
<head>
<meta charset="ISO-8859-1">
<title th:replace="${title}"></title>
<link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />


<link rel="stylesheet" th:href="@{css/style.css}">
<style>
@import
	url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Satisfy&family=Sevillana&display=swap')
	;
</style>

</head>
<body class="bg-mac"
	th:style="'background-image:url(' + @{/images/sec.jpg} + '); background-repeat: no-repeat, repeat; background-size: cover;'">
	<nav class="navbar navbar-expand-lg navbar-light bg-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarTogglerDemo01"
			aria-controls="navbarTogglerDemo01" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
			<a class="navbar-brand text-danger font-weight-bold "
				th:href="@{/home}">BOOTCRUD</a>


		</div>
	</nav>
	<div class="container">
		<div th:replace="${content}"></div>

	</div>


	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.8/typed.min.js"></script>
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script th:src="@{js/Aos.js}"></script>

	<script th:src="@{js/jquey.min.js}"></script>
	<script th:src="@{js/popper.min.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>

	<!-- <script type="text/javascript">
		new Typed('#typer', {
			strings : [ 'Spring Crud' ],
			typeSpeed : 40,
			delaySpeed : 90,
			loop : true
		});
	</script>
 -->
</body>
</html>